@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TFG_FUTBOL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    @RenderSection("MyCss", required: false)
    <style>
        .tab-border
        {
            border-bottom: 1px solid #dee2e6;
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
        }

        .cursor-pointer
        {
            cursor:pointer;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TFG_FUTBOL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="CLUB" asp-action="Index">Clubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="OJEADOS" asp-action="BusquedaAvanzada">Búsqueda Avanzada Jugadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="OJEADOS" asp-action="BusquedaAvanzadaEmpleados">Búsqueda Avanzada Empleados</a>
                    </li>
                </ul>
                <form id="frmLogout" class="form-inline my-2 my-lg-0" asp-controller="USUARIOS" asp-action="Logout">
                    <span class="navbar-text mr-2">
                        Bienvenido usuario @HttpContextAccessor.HttpContext.Session.GetString("UsuarioLogadoNombre")
                    </span>
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Cerrar sesión</button>
                </form>
            </div>
        </nav>


    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TFG_FUTBOL @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $("#frmLogout").submit(function (event) {
            if (confirm("¿Está seguro de cerrar la sesión?")) {
                return true;
            } else {
                event.preventDefault();
                return false;
            }

        });
    </script>
</body>
</html>
