@model TFG_FUTBOL.Models.EmpleadosOjeadosViewModel

@{
    ViewData["Title"] = "DetallesRegistro";
}



<div>
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="card border-primary mb-3">
                <div class="card-header">INFO JUGADOR</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">
                        @Model.NombresCompletos
                    </h5>

                    <div class="card border-light flex-md-row mb-4 shadow-sm h-md-250">
                        <img class="card-img-right flex-auto d-none d-lg-block" data-src="~/img/ojeados/empleados/@Model.Foto" src="~/img/ojeados/empleados/@Model.Foto" alt="@Model.NombresCompletos" style="width:128px;">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">@Model.Formacion</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">Experiencia @Model.Experiencia</a>
                            </h3>
                            <div class="mb-1 text-muted">Nacido en el año @Model.AnhoNacimiento</div>
                        </div>
                    </div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nombres)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nombres)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrimerApellido)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrimerApellido)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SegundoApellido)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SegundoApellido)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telefono1)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Telefono1)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telefono2)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Telefono2)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Correo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Correo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AnhoNacimiento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AnhoNacimiento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Valoracion)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Valoracion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdClub)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdClub)
                        </dd>                        
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Club)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Club)
                        </dd>                        
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PaisNacimiento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PaisNacimiento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pasaporte)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pasaporte)
                        </dd>                        
                    </dl>
                    <div>
                        <a asp-action="EditarRegistroEmpleado" asp-route-id="@Model.DNI" class="btn btn-outline-primary">Editar</a> |
                        <a asp-action="BusquedaAvanzadaEmpleados" class="btn btn-outline-secondary">Volver al listado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

